body {
background-color: rgba(0, 255, 255, 0.25);
}

h1 {
    text-align: center;
    color: white;
}

#load {
    top: 200px;
    margin:0 auto;
    width: 350px;
}



.loginlabel {
    color: white;
}

.passwortlabel {
    color: white;
    white-space:pre;
}

#login {
    border: ridge 5px rgba(247, 0, 255, 0.6);
    background-color: rgba(0, 255, 255, 0.25);
}

#register {
    border: ridge 5px rgba(247, 0, 255, 0.6);
    background-color: rgba(0, 255, 255, 0.25);
}

#new {
    display: block;
    margin:0 auto;
    width: 100px;
}

#hero {
    margin:0 auto;
    border: ridge 5px rgba(36, 173, 114, 0.82);
    width: 650px;
    background-color: rgba(0, 255, 255, 0.57);
}

#heroname {
    color: rgb(7, 102, 6);
    font-style: normal; font-weight: 700;
    font-display: swap;
}

#profil {
    float: right;
    width: 260px;
    margin: 18px;
    text-align: center;
}

#herostat{
    width: 350px;
    border: ridge 5px rgba(36, 173, 114, 0.58);
    border-left: none;
    border-bottom: none;
    border-top: none;
}

.stat{
    float: left;
}


.space {
    white-space:pre;
}

.abilities {
    border: ridge 3px rgba(36, 173, 114, 0.58);
}

.createlabel{
    white-space:pre;
    color: rgb(241, 161, 161);
}

#createhero{
    margin : 0 auto;
    display: block;
    width: 40%;
}

.inputfeld {
    width: 90%;
    padding: 8px 8px;
    display: block;
    margin : 0 auto;
    box-sizing: border-box;
}


.outputability{
    color: rgb(78, 9, 58);
    font-style: normal; font-weight: 700;
    font-display: swap;
}

