@main("Welcome to Play") {
    <h1>Superhero-Projekt 1.0</h1>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div id = "load" >
        <div id="login">
            <form method="POST" action = "/login/hero">
                <h3> Login</h3>
                <label class="loginlabel"> Heldenname</label>
                <input name="name" type="text" placeholder="Heldenname">
                <br>
                <label class="passwortlabel"> Passwort     </label>
                <input name="passwort" type="text" placeholder="Passwort">
                <br>
                <br>
                <br>
                <input type="submit" value="einloggen">
            </form>
            <br>
        </div>


    </div>
}
