@import model.Superhero

@(hero: Seq[Superhero])

@main("Welcome to Play") {
<h1>Superhero-Projekt 1.0</h1>
<div id="hero">
  <div id="profil">

      <label id = "menue" >Adventure Menue</label>
      <hr>

  </div>
  <div id = "herostat">
    <p> Hero's name: <span id = "heroname"> @for(held <- hero) { @held.name }</span> </p>
    <div>
      <button class = "stat" type="button">❤️</button>
      <p class = "space"> Health (hp) = <span id ="health">0</span>/<span>0</span> </p>
    </div>
    <div>
      <button class = "stat" type="button">💧</button>
      <p class = "space"> Mana (mp) = <span id ="mana">0</span>/<span>0</span></p>
    </div>
    <div>
      <button class = "stat" type="button">🛡️</button>
      <p class = "space">      Defense = <span id ="defense">0</span> </p>
    </div>
    <div>
      <button class = "stat" type="button">⚔️</button>
      <p class = "space">         Attack = <span id ="attack">0</span></p>
    </div>
    <div>
      <form>
      <div class ="abilities">
        <p> 1. ability:  <span id ="first"> null </span></p>
        <p> Description:  <span id ="fdescribe"> null </span></p>
      </div>
      <div class ="abilities">
        <p> 2. ability:  <span id ="second"> null </span></p>
        <p> Description:  <span id ="sdescribe"> null </span></p>
      </div>
      <div class ="abilities">
        <p> 3. ability:  <span id ="third"> null </span></p>
        <p> Description:  <span id ="tdescribe"> null </span></p>
      </div>
      </form>
    </div>
  </div>

</div>

}